@import url(reset.css);

@font-face {
    font-family: "Lato.B";
    src: url(../fonts/AnyConv.com__Lato-Bold.woff2);
}
*{
    padding: 0;
    margin: 0;
    transition: 0.4s ease-in-out all;
}
:root{
    --color-primary:rgb(56, 56, 56);
    --color-secunder:rgb(81, 136, 240);
    --color-green:rgb(161, 226, 161);
    --color-blue:hsl(219, 53%, 59%);
    --color-geel:hsl(54, 100%, 62%);
    --color-pars:hsl(271, 76%, 53%);
    --color-bz:hsl(219, 51%, 63%);

}
h1, h2, h3, h4, h5, h6, p, i, li, a {
    font-family: "Lato.B";
    text-decoration: none;
    list-style-type: none;
}
img {
    height: 100%;
    width: 100%;
}
header {
    background-color: var(--color-primary);
}
.navigatie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;
    
}
.navigatie-logo {
    display: flex;
    align-items: center;
}
.navigatie-logo img{
    height: 2.5rem;
    margin-top: 0.1rem;
}
.navigatie-title {
    margin-left: 1rem;
    font-family: "Lato.B";
    font-size: 1.2rem;
    
}
.navigatie-title h1,.login h1 {
    color: var(--color-pars);
    
}
.login {
    display: flex;
    align-items: center;
}
.login h1 {
    margin-right: 0.8rem;
    font-family: "Lato.B";
    font-weight: bold;
}
form button {
    box-shadow: 0 0 4px 2px var(--color-pars);
    border: none;
    background-color: var(--color-pars);
    color: var(--color-geel);
}
form button:hover{
    box-shadow: 0 0 2px 4px var(--color-pars);
    border: none;
    background-color: var(--color-pars);
    color: var(--color-geel);
}
.content {
    display: flex;
}
.navigatie-sub {
    background-color: var(--color-primary);
        height: 55rem;
        width: 14rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.navigatie-list {
    color: var(--color-pars);
    font-size: 1.5rem;
}
.navigatie-list h3 {
    margin-top: 2rem;
}
.navigatie-sub .them , .navigatie-sub #theme--switcher{
    color: var(--color-geel);
    font-size: 1.5rem;
    width: 12rem;
    
    background-color: var(--color-pars);
    box-shadow: var(--color-pars) 0 0 4px 2px;
}
#theme--switcher  {
    border: dashed;
   
}
