<blockquote class="contents">
    <!--<section class="contents__block">-->
        <div class="artist">
            <div class="artist__logo">
                <img src="/images/2022-03-30-14-00-04-355.jpg" alt="">
            </div>
            <div class="artist__name">
                <p>testteteetetezegvjbtyghwbynuwhjgbniywughbnyituhjbgytuhjgh</p>
            </div>
        </div>
    <!--</section>-->
                    <blockquote class="contents">
            <div class="block_1"> 
                <div class="text_2p">
                   <label for="message">Artist</label> 
                </div>
                <form action="/postArtist" method="post" class="content_input">
                    <div class="input">
                        <input id="grocery" name="name" type="text"></div>
                    <div class="button_div"><button  type="submit" id="add"><i>+</i></button></div>
                </form>
            </div>
        </blockquote>
         <section>
         
   <h2>Play Some Music</h2>
   <div>
     <button id="btnStartAudio">Start Audio</button>
     <button id="btnStopAudio">Stop Audio</button>
   </div>
   <div>
    Volume: <input type="range" min="0" max="2" value="1" step="0.01" id="sliderVolume">
   </div>
   <div>
    Panner: <input type="range" min="-1" max="1" value="0" step="0.01" id="sliderPanner">
   </div>
 </section>

</blockquote>